*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family:'Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti;
}
body{
    width: 100%;
    height: 100%;
    background: url('../img/background.svg') no-repeat;
    background-size: cover;
    overflow: hidden;
}
a{
    text-decoration: none;
}
a:visited{
    color: #5e5e5e;
}
a:link{
    color: #5e5e5e;
}
a:active{
    color: #5e5e5e;
}
.register{
    width: 480px;
    height: 540px;
    background: #ffffff;
    margin: 60px auto 0;
    box-shadow: 0 0 20px #DFE1DE;
    border-radius: 5%;
}
.register form{
    margin: 0 auto;
    height: 100%;
}
.silk{
    position: relative;
    margin-bottom: 40px;
}
.silk img{
    margin-top: 30px;
    margin-left: -20px;
}
.silk .title{
    font-size: 24px;
    color: #5e5e5e;
    position: absolute;
    margin-top: -54px;
    margin-left: 45%;
}
.message{
    width: 100%;
    height: 100%;
    position: relative;
}
form input{
    text-indent: 12px;
    width: 240px;
    height: 36px;
    line-height: 36px;
    color: #5e5e5e;
    font-size: 16px;
    margin-left: 120px;
    margin-bottom: 6px;
    margin-right: 120px;
    border-radius: 5px;
    float: left;
    display: block;
    outline: none;
}
form input[type=text],input[type=password]{
    border: 2px solid #FFDE51;
    background: transparent;
}
form #regbtn{
    width: 244px;
    height: 40px;
    background: #ffde51;
    border: none;
    /* Overriding the default underline styling of the links */
    position:relative;
    cursor:pointer;
    background-repeat:no-repeat;
    /* The following two rules are fallbacks, in case
       the browser does not support multiple backgrounds. */
    background-position:bottom left;
    /* Multiple backgrounds version. The background images
       are defined individually in color classes */
    background-position:bottom left, top right, 0 0, 0 0;
    background-clip:border-box;
    /* A 1px highlight inside of the button */
    -moz-box-shadow:0 0 1px #fff inset;
    -webkit-box-shadow:0 0 1px #fff inset;
    box-shadow:0 0 1px #fff inset;

    /* Animating the background positions with CSS3 */
    /* Currently works only in Safari/Chrome */

    -webkit-transition:background-position 1s;
    -moz-transition:background-position 1s;
    transition:background-position 1s;
    background-image:url('../img/button_bg.png'), url('../img/button_bg.png'),
    -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(255,222,81,1)), to(rgba(255,222,81,0)));
}
#regbtn:hover {
    /* The first rule is a fallback, in case the browser
	   does not support multiple backgrounds
	*/
    background-position: top left;
    background-position: top left, bottom right, 0 0, 0 0;
}
form input[type=checkbox]{
    width: 15px;
    height: 15px;
    margin-top: 0;
    margin-right: 0px;
}
form .inputVer{
    width: 119px;
    margin-right: 2px;
}
form #verification{
    width: 119px;
    height: 40px;
    text-indent: 0;
    background: #ffde51;
    border: none;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
    float: left;
}
form #verification:hover
{
    background: #ffec54;
}
form #tipOne,#tipTwo,#tipThree,#tipFour{
    width: 400px;
    height: 24px;
    line-height: 16px;
    font-size: 16px;
    color: #fc8080;
    margin-left: 128px;
    background: url(../img/error.png) no-repeat;
    float: left;
    text-indent: 20px;
    visibility: hidden;
}
.bottom{
    font-size: 14px;
    color: #5e5e5e;
    line-height: 16px;
    margin-top: 12px;
    float: left;
    display: inline;
}
.bottom .turnToLog{
    float: right;
    width: 64px;
    margin-right: 106px;
}
.transPasOrText{
    background: url(../img/eyes.png) no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    right: 25%;
    top: 15%;
}



